section {
    margin: 10em 0;
    position: relative;
}
section h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5em;
}
.box {
    width: 80px;
    height: 80px;
    padding: 1em;
    color: #fff;
    text-align: center;
    line-height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.box1 { 
    background-color: #f00; 
    z-index: 1; 
}
.box2 {
    background-color: #0f0; 
    z-index: 2; 
    left: 200px; 
}
.box3 {
    background-color: #00f; 
    z-index: 3; 
    left: 350px; 
}
.box4 {
    background-color: #f80; 
    z-index: 3; 
    position: relative; 
    left: 50px; 
}
.box5 {
    background-color: #08f; 
    z-index: 2; 
    position: relative; 
    left: 100px; 
    top: 50px; 
}
.box6 { 
    background-color: #f08;
    z-index: 1; 
    position: relative; 
    left: 150px; 
    top: 50px; 
}
.relative-container {
    position: relative;
    height: 300px;
}
.box7 {
    background-color: #880; 
    z-index: 1; 
    top: 20px; 
    left: 20px; 
}
.box8 {
    background-color: #808; 
    z-index: 3; 
    top: 100px; 
    left: 100px; 
}
.box9 {
    background-color: #088; 
    z-index: 2; 
    top: 180px; 
    left: 180px; 
}
.box10 {
    background-color: #088;
    z-index: 1;
    position: fixed;
    top: 10px; 
    left: 200px; 
}
.box11 {
    background-color: #808; 
    z-index: 2; 
    position: fixed; 
    bottom: 60px; 
    right: 60px; 
}



/*
.box1 { 
    background-color: #f00; 
    z-index: 1; 
}
.box2 {
     background-color: #0f0; 
     z-index: 2; 
     left: 100px; 
}
.box3 {
     background-color: #00f; 
     z-index: 3; 
     left: 150px; 
}

.box4 {
     background-color: #f80; 
     z-index: 3; 
     position: relative; 
     left: 50px; 
}
.box5 {
     background-color: #08f; 
     z-index: 2; 
     position: relative; 
     left: 100px; 
     top: 50px; 
}
.box6 { 
    background-color: #f08;
    z-index: 1; 
    position: relative; 
    left: 150px; 
    top: 100px; 
}

.relative-container {
    position: relative;
    height: 300px;
}

.box7 {
     background-color: #880; 
     z-index: 1; top: 20px; 
     left: 20px; 
}
.box8 {
     background-color: #808; 
     z-index: 3; top: 40px; 
     left: 40px; 
}
.box9 {
     background-color: #088; 
     z-index: 2; top: 60px; 
     left: 60px; 
}

.box10 {
    background-color: #088;
    z-index: 1;
    position: fixed;
    bottom: 10px; 
    right: 10px; 
}
.box11 {
     background-color: #808; 
     z-index: 2; position: fixed; 
     bottom: 20px; 
     right: 20px; 
}