section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

.box {
    width: 300px;
    padding: 20px;
    border: 15px solid #3498db;
    margin: 20px;
    background-color: #ecf0f1;
    color: #333;
}
.content-box {
    box-sizing: content-box;
}
.border-box {
    box-sizing: border-box;
}
